In [8]:
import pandas as pd 
df = pd.read_csv('DSE Scraped.csv')
df.head()

,Trading Code,Company Name,Last Trading Price,Closing Price,Last Update,Day's Range,Change*,Day's Value (mn),Change(%),52 Weeks' Moving Range,...,Sector,Address,Contact Phone,Fax,E-mail,Web Address,Company Secretary Name,Cell No.,Telephone No.,E-mail.1
0,1JANATAMF,First Janata Bank Mutual Fund,6.20,6.20,3:45 PM,6.20 - 6.30,0,1.75,0.00%,5.70 - 10.00,...,Mutual Funds,"Sky View Henolux Center, Office No: D-6, 6th F...","01302-399597, 01309-402782",88 02 9513138,info@racebd.com,http://www.racebd.com,NaN,NaN,NaN,NaN
1,1STPRIMFMF,Prime Finance First Mutual Fund,17.20,17.10,3:45 PM,17.00 - 17.30,-0.1,2.87,-0.58%,15.60 - 24.40,...,Mutual Funds,"Green City Edge (4th floor)rn89, Kakrail, Dhak...",+88-02-8300412,+88-02-8300416,info@icbamcl.com.bd,http://www.icbamcl.com.bd,NaN,NaN,NaN,NaN
2,AAMRANET,aamra networks limited,39.30,39.30,3:45 PM,38.00 - 39.60,0.6,68.20,1.55%,34.70 - 64.50,...,IT Sector,Safura Tower (9th Floor)rn20 Kemal Ataturk Ave...,"8802-8832446, 8802-941100",NaN,aamranet.sharedept@aamra.com.bd,http://www.aamra.com.bd,Syed Moniruzzaman,01713477405,8802-8832446 Ext-140,syed.moniruzzaman@aamra.com.bd
3,AAMRATECH,aamra technologies limited,31.10,31.10,3:45 PM,30.50 - 31.70,0,13.24,0.00%,26.40 - 46.60,...,IT Sector,Safura Tower (9th Floor)rn20 Kemal Ataturk Ave...,"8802-9822146, 8802-8832446,8802-8832446",+88 02 9820605,aamratech.sharedept@aamra.com.bd,http://www.aamra.com.bd,Syed Moniruzzaman,01713477405,8802-8832446 Ext-140,syed.moniruzzaman@aamra.com.bd
4,ABB1STMF,AB Bank 1st Mutual fund,5.30,5.30,3:45 PM,5.20 - 5.30,0,1.27,0.00%,5.10 - 8.10,...,Mutual Funds,"Sky View Henolux Center, Office No: D-6, 6th F...","01302-399597, 01309-402782",88 02 9361530,info@racebd.com,http://www.racebd.com,NaN,NaN,NaN,NaN

Last Trading Price: Updated price of last trade.

Closing Price: The last price when trading day was end.

Day's Range: Lowest and Highest price of the day

Change:

Day's Value (mn):

Day's Volume: How many shares has been traded tody

Change(%):

52 Weeks' Moving Range: Lowest and Highest price of last 52 weeks

Day's Trade:

Market Capitalization (mn):

Authorized Capital (mn):

Debut Trading Date: Date of 1st trade in Stock market.

Paid-up Capital (mn):

Face par value: Original cost per stock, which should be paid to the holder.

Total No. of Outstanding Securities: Remaining Security Balence held by company.

In [9]:
df.isnull().sum()

Trading Code                             0
Company Name                             0
Last Trading Price                       0
Closing Price                            0
Last Update                              0
Day's Range                              0
Change*                                  0
Day's Value (mn)                         0
Change(%)                                0
52 Weeks' Moving Range                   0
Opening Price                            0
Day's Volume (Nos.)                      0
Adjusted Opening Price                   0
Day's Trade (Nos.)                       0
Yesterday's Closing Price                0
Market Capitalization (mn)               0
Authorized Capital (mn)                  0
Debut Trading Date                     251
Paid-up Capital (mn)                     0
Type of Instrument                       0
Face/par Value                           0
Market Lot                               0
Total No. of Outstanding Securities      0
Sector                                   0
Address                                  1
Contact Phone                            2
Fax                                     34
E-mail                                   2
Web Address                              6
Company Secretary Name                  66
Cell No.                                67
Telephone No.                          100
E-mail.1                                66
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 33 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Trading Code                         383 non-null    object
 1   Company Name                         383 non-null    object
 2   Last Trading Price                   383 non-null    object
 3   Closing Price                        383 non-null    object
 4   Last Update                          383 non-null    object
 5   Day's Range                          383 non-null    object
 6   Change*                              383 non-null    object
 7   Day's Value (mn)                     383 non-null    object
 8   Change(%)                            383 non-null    object
 9   52 Weeks' Moving Range               383 non-null    object
 10  Opening Price                        383 non-null    object
 11  Day's Volume (Nos.)                  383 non-null    object
 12  Adjusted Opening Price               383 non-null    object
 13  Day's Trade (Nos.)                   383 non-null    object
 14  Yesterday's Closing Price            383 non-null    object
 15  Market Capitalization (mn)           383 non-null    object
 16  Authorized Capital (mn)              383 non-null    object
 17  Debut Trading Date                   132 non-null    object
 18  Paid-up Capital (mn)                 383 non-null    object
 19  Type of Instrument                   383 non-null    object
 20  Face/par Value                       383 non-null    float64
 21  Market Lot                           383 non-null    int64
 22  Total No. of Outstanding Securities  383 non-null    object
 23  Sector                               383 non-null    object
 24  Address                              382 non-null    object
 25  Contact Phone                        381 non-null    object
 26  Fax                                  349 non-null    object
 27  E-mail                               381 non-null    object
 28  Web Address                          377 non-null    object
 29  Company Secretary Name               317 non-null    object
 30  Cell No.                             316 non-null    object
 31  Telephone No.                        283 non-null    object
 32  E-mail.1                             317 non-null    object
dtypes: float64(1), int64(1), object(31)
memory usage: 98.9+ KB

In [11]:
import numpy as np
stock_data = df.copy()
count = 0

for col in stock_data:
    for i, data in enumerate(stock_data[col]):
        if data == "-":
            stock_data[col][i] = np.NaN
            count+=1
            print(f"{count}. Replaced with NaN in {i}th of {col}")

1. Replaced with NaN in 81th of Last Trading Price
2. Replaced with NaN in 82th of Last Trading Price
3. Replaced with NaN in 81th of Closing Price
4. Replaced with NaN in 82th of Closing Price
5. Replaced with NaN in 81th of Day's Range
6. Replaced with NaN in 82th of Day's Range
7. Replaced with NaN in 81th of Change*
8. Replaced with NaN in 82th of Change*
9. Replaced with NaN in 81th of Day's Value (mn)
10. Replaced with NaN in 82th of Day's Value (mn)
11. Replaced with NaN in 374th of Day's Value (mn)
12. Replaced with NaN in 81th of Change(%)
13. Replaced with NaN in 82th of Change(%)
14. Replaced with NaN in 81th of Opening Price
15. Replaced with NaN in 82th of Opening Price
16. Replaced with NaN in 81th of Day's Volume (Nos.)
17. Replaced with NaN in 82th of Day's Volume (Nos.)
18. Replaced with NaN in 81th of Adjusted Opening Price
19. Replaced with NaN in 82th of Adjusted Opening Price
20. Replaced with NaN in 81th of Day's Trade (Nos.)
21. Replaced with NaN in 82th of Day's Trade (Nos.)
22. Replaced with NaN in 81th of Yesterday's Closing Price
23. Replaced with NaN in 82th of Yesterday's Closing Price
24. Replaced with NaN in 0th of Authorized Capital (mn)
25. Replaced with NaN in 1th of Authorized Capital (mn)
26. Replaced with NaN in 4th of Authorized Capital (mn)
27. Replaced with NaN in 18th of Authorized Capital (mn)
28. Replaced with NaN in 40th of Authorized Capital (mn)
29. Replaced with NaN in 62th of Authorized Capital (mn)
30. Replaced with NaN in 75th of Authorized Capital (mn)
31. Replaced with NaN in 76th of Authorized Capital (mn)
32. Replaced with NaN in 91th of Authorized Capital (mn)
33. Replaced with NaN in 109th of Authorized Capital (mn)
34. Replaced with NaN in 110th of Authorized Capital (mn)
35. Replaced with NaN in 119th of Authorized Capital (mn)
36. Replaced with NaN in 126th of Authorized Capital (mn)
37. Replaced with NaN in 146th of Authorized Capital (mn)
38. Replaced with NaN in 147th of Authorized Capital (mn)
39. Replaced with NaN in 155th of Authorized Capital (mn)
40. Replaced with NaN in 159th of Authorized Capital (mn)
41. Replaced with NaN in 160th of Authorized Capital (mn)
42. Replaced with NaN in 161th of Authorized Capital (mn)
43. Replaced with NaN in 162th of Authorized Capital (mn)
44. Replaced with NaN in 164th of Authorized Capital (mn)
45. Replaced with NaN in 168th of Authorized Capital (mn)
46. Replaced with NaN in 169th of Authorized Capital (mn)
47. Replaced with NaN in 203th of Authorized Capital (mn)
48. Replaced with NaN in 208th of Authorized Capital (mn)
49. Replaced with NaN in 235th of Authorized Capital (mn)
50. Replaced with NaN in 260th of Authorized Capital (mn)
51. Replaced with NaN in 264th of Authorized Capital (mn)
52. Replaced with NaN in 266th of Authorized Capital (mn)
53. Replaced with NaN in 274th of Authorized Capital (mn)
54. Replaced with NaN in 294th of Authorized Capital (mn)
55. Replaced with NaN in 320th of Authorized Capital (mn)
56. Replaced with NaN in 321th of Authorized Capital (mn)
57. Replaced with NaN in 322th of Authorized Capital (mn)
58. Replaced with NaN in 358th of Authorized Capital (mn)
59. Replaced with NaN in 373th of Authorized Capital (mn)
60. Replaced with NaN in 374th of Authorized Capital (mn)
61. Replaced with NaN in 62th of E-mail
62. Replaced with NaN in 77th of E-mail
63. Replaced with NaN in 192th of E-mail
64. Replaced with NaN in 246th of E-mail
65. Replaced with NaN in 251th of E-mail
66. Replaced with NaN in 252th of E-mail
67. Replaced with NaN in 297th of E-mail

C:\Users\USER\AppData\Local\Temp/ipykernel_8420/1645979414.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_data[col][i] = np.NaN

In [12]:
print(df.info()); print('\n'); print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 33 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Trading Code                         383 non-null    object
 1   Company Name                         383 non-null    object
 2   Last Trading Price                   383 non-null    object
 3   Closing Price                        383 non-null    object
 4   Last Update                          383 non-null    object
 5   Day's Range                          383 non-null    object
 6   Change*                              383 non-null    object
 7   Day's Value (mn)                     383 non-null    object
 8   Change(%)                            383 non-null    object
 9   52 Weeks' Moving Range               383 non-null    object
 10  Opening Price                        383 non-null    object
 11  Day's Volume (Nos.)                  383 non-null    object
 12  Adjusted Opening Price               383 non-null    object
 13  Day's Trade (Nos.)                   383 non-null    object
 14  Yesterday's Closing Price            383 non-null    object
 15  Market Capitalization (mn)           383 non-null    object
 16  Authorized Capital (mn)              383 non-null    object
 17  Debut Trading Date                   132 non-null    object
 18  Paid-up Capital (mn)                 383 non-null    object
 19  Type of Instrument                   383 non-null    object
 20  Face/par Value                       383 non-null    float64
 21  Market Lot                           383 non-null    int64
 22  Total No. of Outstanding Securities  383 non-null    object
 23  Sector                               383 non-null    object
 24  Address                              382 non-null    object
 25  Contact Phone                        381 non-null    object
 26  Fax                                  349 non-null    object
 27  E-mail                               381 non-null    object
 28  Web Address                          377 non-null    object
 29  Company Secretary Name               317 non-null    object
 30  Cell No.                             316 non-null    object
 31  Telephone No.                        283 non-null    object
 32  E-mail.1                             317 non-null    object
dtypes: float64(1), int64(1), object(31)
memory usage: 98.9+ KB
None


Trading Code                             0
Company Name                             0
Last Trading Price                       0
Closing Price                            0
Last Update                              0
Day's Range                              0
Change*                                  0
Day's Value (mn)                         0
Change(%)                                0
52 Weeks' Moving Range                   0
Opening Price                            0
Day's Volume (Nos.)                      0
Adjusted Opening Price                   0
Day's Trade (Nos.)                       0
Yesterday's Closing Price                0
Market Capitalization (mn)               0
Authorized Capital (mn)                  0
Debut Trading Date                     251
Paid-up Capital (mn)                     0
Type of Instrument                       0
Face/par Value                           0
Market Lot                               0
Total No. of Outstanding Securities      0
Sector                                   0
Address                                  1
Contact Phone                            2
Fax                                     34
E-mail                                   2
Web Address                              6
Company Secretary Name                  66
Cell No.                                67
Telephone No.                          100
E-mail.1                                66
dtype: int64